.subscribe-form{
  padding-top: 7.6rem;
}

.subscribe-form__wrap {
  background-color: var(--color-beige);
  position: relative;
  background-image: url("img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 16px;
  border-radius: 16px;
  width: 100%;
  text-align: center;
}

.subscribe-form form {
  text-align: center;
  margin: 32px auto 8px;
  display: flex;
  justify-content: center;
  max-width: 560px;
  position: relative;
}

.subscribe__label {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.input__error {
  display: none;
  text-align: center;
  color: var(--color-red);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  position: absolute;
  top: -22px;
}

.subscribe-form__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  color: var(--color-black);
  margin-bottom: 12px;
}

.subscribe-form__subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #434956;
  font-weight: 400;
}

.subscribe__input {
  padding: 11px;
  width: 100%;
  font-weight: 500;
  border: 1px solid transparent;
  height: 42px;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--color-beige-light);
  box-sizing: border-box;
  margin-right: 12px;
  border-radius: 12px;
}

.subscribe__input.error {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.subscribe__input::placeholder {
  color: #80899C;
}

.subscribe__submit {
  height: 44px;
  padding: 0 20px;
  font-size: 16px;
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-orange);
  border: none;
  border-radius: 12px;
}

.subscribe-form__agree {
  font-size: 13px;
  line-height: 18px;
  color: #434956;
  font-weight: 500;
}

#subscribe_result .modal__title {
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

#subscribe_result .modal__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

#subscribe_result .modal__container {
  max-width: 404px;
}

@media (max-width: 768px) {
  .subscribe-form__wrap{
    padding: 20px 16px;
  }

  .subscribe-form{
    padding-top: 40px;
  }

  .subscribe-form__title{
    font-size: 18px;
    line-height: 24px;
  }
  
  .subscribe-form__subtitle{
    font-size: 14px;
    line-height: 20px;
  }

  .subscribe-form form{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .subscribe__input{
    max-width: 100%;
    margin-right: 0;
  }

  .subscribe__submit{
    max-width: 100%;
    margin-top: 12px;
  }
  
  .input__error{
    font-size: 12px;
    line-height: 16px;
    top: -33px;
  }
}
