.subscribe-form {
  background-image: url('img/back-desc.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.73vw 2vw 4.69vw 2vw;
}

.subscribe-form form {
  text-align: center;
  margin: 0.93vw auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscribe__label {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.input__error {
  display: none;
  width: 56.59vw;
  text-align: left;
  margin-top: 7px;
  color: #FF8888;
  font-size: 0.73vw;  
  font-weight: 500;
  line-height: 120%;
  white-space: pre;
}

.subscribe-foem__title {
  text-align: center;
  width: 57vw;
  font-size: 2.29vw;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'TT Travels Next';
  margin: 0 auto;
  color: var(--color-white);
}

.subscribe-form__subtitle {
  margin: 0.93vw 0 0 0;
  font-family: 'TT Travels Next';
  font-size: 0.93vw;
  color: var(--color-white);
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.subscribe__input {
  width: 44.8vw;
  padding: 0.78vw 0.625vw;
  font-size: 0.89vw;  
  font-weight: 500;
  line-height: 147.815%;
  border: none;
  height: 3.02vw;
}

.subscribe__input.error {
  color: var(--color-red);
}

.subscribe__input::placeholder {
  color: #adadad;
}

.subscribe__submit {
  height: 3.02vw;
  padding: 0.78vw 2vw;
  font-size: 0.77vw;
  color: var(--color-white);
  font-weight: 700;
  line-height: 169.883%;
  text-transform: uppercase;
  background-color: var(--color-orange);
  border: none
}

.subscribe-form__agree {
  margin-top: 10px;
  font-size: 0.9375vw;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
  line-height: normal;
}

#subscribe_result .modal__title {
  font-size: 21px;  
  font-weight: 600;
  line-height: normal;
  font-family: 'TT Travels Next';
  text-align: center;
}

#subscribe_result .modal__subtitle {
  font-size: 13px;  
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

#subscribe_result .modal__container {
  max-width: 404px;
}

@media (max-width: 767px) {
  .subscribe-foem__title {
    width: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
  }

  .subscribe-form__subtitle {
    display: none;
  }

  .subscribe-form form {
    margin-top: 15px;    
    justify-content: flex-start;
  }

  .subscribe__input {
    height: 40px;
    width: 54%;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 180%;
  }

  .subscribe__submit {
    width: 44%;
    margin-left: 7px;
    padding: 11px 18px;
    height: 40px;
    font-size: 13px;
    letter-spacing: 0.52px;
    line-height: 17.979px;
    font-weight: 600;
    text-transform: none;
  }

  .input__error {
    width: 100%;
    margin-top: 10px;
    font-size: 10px;
    line-height: normal;
    white-space: normal;
  }

  .subscribe-form__agree {
    text-align: left;
    font-size: 12px;
    line-height: normal;
  }

  #subscribe_result .modal__container {
    min-height: unset;
  }

  #subscribe_result {
    z-index: 9999;
  }
}

@media (max-width: 450px) {
  .subscribe-form {
    background-image: url('img/back-mob.jpg');
    padding: 28px 20px;
  }
}
