.subscribe-form {  
  background-color: var(--color-beige);
  border-top: 1.5px solid var(--color-black);
  border-bottom: 1.5px solid var(--color-black);
  position: relative;
}

.subscribe-form::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 100%;
  background-image: url('img/back-desc.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 1.5px solid var(--color-black);
}

.subscribe-form .container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.subscribe-form__left {
  padding: 43px 0;
}

.subscribe-form__right {
  
}

.subscribe-form form {
  text-align: center;
  margin: 0.78vw auto 0 auto;
  display: flex;  
  flex-wrap: wrap;
}

.subscribe__label {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.input__error {
  display: none;  
  text-align: left;
  margin-top: 6px;
  color: var(--color-red);
  font-size: 0.6vw;  
  font-weight: 500;
  line-height: 120%;  
}

.subscribe-form__title {  
  font-size: 1.4vw;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'TT Travels Next';
  margin: 0 auto;
  color: var(--color-black);
}

.subscribe-form__subtitle {
  margin: 0.57vw 0 0 0;
  font-family: 'TT Travels Next';
  font-size: 0.6vw;
  color: var(--color-black);
  font-weight: 500;
  line-height: normal;  
}

.subscribe__input {
  width: 27vw;
  padding: 0.5vw 0.5vw;
  font-size: 0.6vw;  
  font-weight: 500;
  line-height: 142%;
  border: none;
  height: 1.8vw;
}

.subscribe__input.error {
  color: var(--color-red);
}

.subscribe__input::placeholder {
  color: #adadad;
}

.subscribe__submit {
  height: 1.8vw;
  padding: 0.52vw 0.52vw;
  font-size: 0.6vw;
  color: var(--color-black);
  font-weight: 700;
  line-height: 143%;
  text-transform: uppercase;
  background-color: var(--color-orange);
  border: none;
  border-radius: 2px;
}

.subscribe-form__agree {
  margin-top: 6px;
  font-size: 0.6vw;  
  color: var(--color-black);
  font-weight: 500;
  line-height: normal;
}

#subscribe_result .modal__title {
  font-size: 21px;  
  font-weight: 600;
  line-height: normal;
  font-family: 'TT Travels Next';
  text-align: center;
}

#subscribe_result .modal__subtitle {
  font-size: 13px;  
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

#subscribe_result .modal__container {
  max-width: 404px;
}

@media (max-width: 1200px) {
  .subscribe-form__title {    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    max-width: 400px;
    margin: 0;
  }

  .subscribe-form__subtitle {
    margin-top: 9px;
    font-size: 11px;
    max-width: 350px;
  }

  .subscribe-form form {
    margin-top: 15px;    
    justify-content: flex-start;
  }

  .subscribe__input {
    height: 40px;
    width: 305px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: initial;
  }

  .subscribe__submit {
    font-size: 7px;
    line-height: 9px;
    font-weight: bold;    
    width: 85px;    
    padding: 11px 0;
    height: 40px;    
  }

  .input__error {
    width: 100%;
    margin-top: 6px;
    font-size: 9px;
    line-height: normal;
    white-space: normal;
  }

  .subscribe-form__agree {
    text-align: left;
    font-size: 9px;
    line-height: normal;
  }

  #subscribe_result .modal__container {
    min-height: unset;
  }

  #subscribe_result {
    z-index: 9999;
  }

  .subscribe-form::before {
    width: 33%;
    background-image: url('img/back-tab.jpg');
  }

  .subscribe-form .container {
    grid-template-columns: 67% 33%;
  }

  .subscribe-form__left {
    padding: 30px 0;
  }
}

@media (max-width: 450px) {
  .subscribe-form__title {    
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
  }

  .subscribe-form__subtitle {
    display: none;
  }

  .subscribe-form form {
    margin-top: 15px;    
    justify-content: flex-start;
  }

  .subscribe__input {
    height: 40px;
    width: 50%;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 180%;
  }

  .subscribe__submit {
    width: 44%;
    margin-left: 7px;
    padding: 11px 18px;
    height: 40px;
    font-size: 13px;
    letter-spacing: 0.52px;
    line-height: 17.979px;
    font-weight: 600;
    text-transform: none;
    border-radius: 50px;
  }

  .input__error {
    width: 100%;
    margin-top: 10px;
    font-size: 10px;
    line-height: normal;
    white-space: normal;
  }

  .subscribe-form__agree {
    text-align: left;
    font-size: 12px;
    line-height: normal;
  }

  #subscribe_result .modal__container {
    min-height: unset;
  }

  #subscribe_result {
    z-index: 9999;
  }

  .subscribe-form::before {
    display: none;    
  }

  .subscribe-form {
    background-image: url('img/back-mob.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .subscribe-form .container {
    display: block;
  }

  .subscribe-form__left {
    padding: 30px 0;
  }
}
