/.idea
/.vscode
/images
/bitrix/*
!/bitrix/modules/
/bitrix/modules/*
!/bitrix/modules/add_object_bnovo/
/upload
/local/php_interface/data/*
/local/php_interface/log
/local/php_interface/init_constants.php
/local/cron/*.log

/local/modules
.htaccess
robots.txt

/webstat
web.config
yandex*.txt
google*.html
.DS_Store

node_modules/
*.lock
*-lock.json
mix-manifest.json
mix.js.map

_dev.*

vendor/
/import/bnovo/
/log.txt
/log_bnovo.txt
/log_bnovo_order.txt
/log_bnovo_responce.txt
/__bx_log.log
/test.php
/sitemap.xml
/sitemap-files.xml
/sitemap-iblock-1.xml
