.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[data-slider-related] .slider__heading-controls {
  z-index: 1;
}

@media (max-width: 1160px) {
  .object-row:not(.object-row_profile) .object-row__images .swiper img {
    width: 100%;
  }
  .object__images .swiper img {
    width: 100%;
  }
}
.object-row_profile .object-row__order {
  width: 14.5rem;
}
.news-preview__image img {
  height: auto !important;
}
.list_impressions .list__item-image div img {
  height: auto !important;
}
.object .favorite img {
  -webkit-transform: translate3d(0, 0, 0);
}
.object .tag {
  -webkit-transform: translate3d(0, 0, 0);
}
.object .swiper-button-prev {
  -webkit-transform: translate3d(0, 0, 0);
}
.object .swiper-button-next {
  -webkit-transform: translate3d(0, 0, 0);
}
.object .swiper-pagination-bullets {
  -webkit-transform: translate3d(0, 0, 0);
}

@media (max-width: 1139px) {
  .object-row_profile .object-row__order {
    width: 100%;
  }
}
.footer {
  padding-bottom: 1.4rem;
}
.footer__copyright {
  margin-top: 0.6rem;
  opacity: 0.3;
}
.footer__copyright h1 {
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
}
@media (max-width: 1023px) {
  .footer {
    padding-bottom: 2.4rem;
  }
}
.section_title_page {
  padding-top: 3.1rem;
  padding-bottom: 2.4rem;
}
.section_title_page.catalog_page {
  padding-top: 0rem;
  padding-bottom: 1.4rem;
}

.section_title_page.catalog_page .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1.page_title {
  font-family: var(--header-text-font-family);
  font-weight: 500;
  font-size: 3.7rem;
  line-height: 5.2rem;
  letter-spacing: 0.04em;
}
.wrapper_title_catalog_page h1.page_title {
  margin-bottom: 1rem;
}
.wrapper_title_catalog_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_crumbs_catalog_new {
  padding-bottom: 0;
}
.section.section_form .clip {
  -webkit-transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.catalog__map_fullscreen .catalog__map-halfscreen.link__to_catalog {
  display: flex;
}

.catalog__map_fullscreen .link_route {
  left: calc((50% - var(--container-max-width) / 2) + 265px);
  position: absolute;
  top: 2rem;
  border: none;
}

.profile-preview__image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
}
.header__controls .list__item .list__item-icon {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
}
.review__image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
}
.modal-more .list_circle .list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section_favorite .object__images .swiper img {
  width: 100%;
}
.object-row .area-info div {
  font-size: 0;
}
.object-row .area-info div > span {
  font-size: 13px;
}

.payment-block {
  margin-top: 64px;
}

.payment-block__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  font-family: var(--header-text-font-family);
  margin-bottom: 24px;
}

.payment-item {
  display: flex;
  align-items: center;
}

.payment-item:not(:last-child) {
  margin-bottom: 24px;
}

.payment-item p {
  font-size: 16px;
  font-family: "Montserrat";
}

.payment-item img {
  max-width: 60px;
  margin-right: 14px;
}

.payment-item.checkbox span {
  width: 24px;
  height: 24px;
}

@media (max-width: 1650px) {
  .catalog__map_fullscreen .link_route {
    left: calc((50% - var(--container-max-width) / 2) + 220px);
    position: absolute;
    top: 2rem;
    border: none;
  }
}

@media (max-width: 1024px) {
  .catalog__map-sticky {
    height: 100%;
    position: relative;
    top: 0;
  }
  .wrapper_title_catalog_page {
    display: block;
    padding-bottom: 1rem;
  }
  .catalog__map {
    top: 27rem;
  }
  .catalog__map.catalog__on_map {
    top: 39rem;
  }
  .section_crumbs {
    top: 6rem;
  }

  .catalog__map_fullscreen .link_route {
    left: var(--container-gap);
    top: calc(2rem + 50px);
  }
}
@media (max-width: 599px) {
  .section_title_page {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .section_title_page.catalog_page {
    padding-top: 0rem;
    margin-top: -2rem;
    padding-bottom: 2.4rem;
  }
  h1.page_title {
    font-family: var(--header-text-font-family);
    font-weight: 500;
    font-size: 3rem;
    line-height: 4.2rem;
    letter-spacing: 0.04em;
  }
  .catalog__map.catalog__on_map {
    top: 15rem;
  }

  .cq-popup_suslic___body {
    padding: 25px !important;
  }

  .payment-block {
    margin-top: 48px;
  }
}

.profile__get-vaucher {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-top: 5px;
  text-decoration: underline;
}

@media (max-width: 1139px) {
  .profile__get-vaucher {
    width: max-content;
    margin-left: 0;
  }
}

.cert__back {
  margin-top: 62px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url("/local/components/addamant/certificates.buy/templates/.default/img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cert__message {
  position: absolute;
  padding: 54px 25px 25px 25px;
  max-width: 682px;
  width: 100%;
  min-height: 233px;
  background-color: #e6c48e;
  box-shadow: 0px 8px 20px 0px #00000026;
  border-radius: 20px;
  text-align: center;
}

.cert__message-title {
  font-family: "TT Travels Next";
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  margin: 0;
}

.cert__message-text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  margin: 30px 0 0 0;
}

.cert__geo img {
  border-bottom: 1px solid black;
}

@media (max-width: 1440px) {
  .cert__back {
    background-image: url("/local/components/addamant/certificates.buy/templates/.default/img/back-laptop.png");
  }
}

@media (max-width: 769px) {
  .cert__back {
    background-image: url("/local/components/addamant/certificates.buy/templates/.default/img/back-tablet.png");
  }

  .cert__message {
    padding: 47px 20px 33px 20px;
    max-width: 502px;
  }

  .cert__message-text {
    line-height: 27px;
    margin-top: 16px;
  }
}

@media (max-width: 501px) {
  .cert__back {
    background-image: url("/local/components/addamant/certificates.buy/templates/.default/img/back-mob.png");
  }

  .cert__message {
    padding: 40px 10px;
    max-width: 302px;
    min-height: 196px;
  }

  .cert__message-title {
    font-size: 21px;
    line-height: 21px;
  }

  .cert__message-text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 35px;
  }
}

#corporat .modal__container {
  max-width: 775px;
  padding: 25px 33px 33px 33px;
}

#corporat .modal__footnote {
  font-size: 21px;
  line-height: 36px;
  text-align: left;
  margin: 0 0 23px 0;
}

#corporat .modal__footnote span {
  font-family: "TT Travels Next";
  font-size: 21px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1pt;
}

#corporat .checkbox span {
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  padding-left: 25px;
}

#corporat .checkbox span:before {
  top: 3px;
  height: 16px;
  width: 16px;
}

#corporat .checkbox span:after {
  top: 7px;
  left: 4px;
  width: 8px;
  height: 8px;
}

#corporat .form__item > span {
  display: inline-block;
  margin-bottom: 8px;
  font-family: "TT Travels Next";
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -1pt;
}

#corporat.modal_form .modal__container .form__item + .form__item {
  margin: 0;
}

#corporat.modal_form .modal__container .form__controls .button {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2pt;
  font-weight: 500;
  background-color: #1b2d50;
  color: white;
  height: 38px;
}

@media (max-width: 500px) {
  #corporat .modal__container {
    padding: 40px 24px 20px 24px;
  }

  #corporat .modal__footnote,
  #corporat .modal__footnote span {
    font-size: 15px;
    line-height: 21px;
  }
}

.cert-index__seo-text {
  margin-top: 64px;
  font-family: "Montserrat";
  font-size: 21px;
  line-height: 34px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.show-all-seo {
  -webkit-line-clamp: 9999;
}

.show-more-seo {
  font-family: "TT Travels Next";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
}

.cert-index__reviews {
  margin-top: 88px;
}

@media (max-width: 1024px) {
  .cert-index__seo-text {
    margin-top: 48px;
    font-size: 15px;
    line-height: 19px;    
    letter-spacing: -0.19px;
    -webkit-line-clamp: 8;
  }

  .show-more-seo {
    font-size: 12px;        
  }

  .show-all-seo {
    -webkit-line-clamp: 9999;
  }

  .cert-index__reviews {
    margin-top: 48px;
  }
}

@media (max-width: 480px) {
  .cert-index__reviews {
    margin-top: 32px;
  }

  .objects__list .swiper-button-next,
  .objects__list .swiper-button-prev,
  .catalog__list .swiper-button-next,
  .catalog__list .swiper-button-prev,
  .objects .swiper-button-next,
  .objects .swiper-button-prev,
  .rooms__list .swiper-button-next,
  .rooms__list .swiper-button-prev {
    display: none !important;
  }
}
