.footer__menu .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.footer__menu .list > * {
    min-height: 1px;
    min-width: 1px;
}


.footer__menu .list__link:hover,
.footer__menu .list__item_active .list__link{
    color: var(--color-orange);
    border-bottom: 1px solid var(--color-orange);
    line-height: 22px;
}
  
.footer__menu .list__item a{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border-bottom: 1px solid transparent;
}

.footer__menu .list__item:not(:last-child){
    margin-right: 24px;
}

.footer__menu .list__link.always_orange{
    background-color: var(--color-orange);
    border-radius: 8px;
    padding: 0 8px;
    line-height: 32px;
    display: block;
    color: var(--color-white);
    border: none!important;
}

.footer__menu .list__link.always_orange:hover,
.footer__menu .list__item_active .always_orange{
    border: none;
}

@media (max-width:1023px) {
    .footer__menu .list{
        flex-wrap: wrap;
    }  

    .footer__menu .list__item{
        margin: 0px 12px 12px!important;
    }
}
