.content__sitemap {
    margin: auto;
    display: inline-block;
    width: 78%;
    padding: 0px;
    padding-left: 40px;
}
.sidebar-navigation__sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sidebar-navigation__sitemap .list__link {
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-weight: 500;
    line-height: 2rem;
    padding: 1.5rem 0;
}
@media (max-width: 700px){
    .sidebar-navigation__sitemap {
        grid-template-columns: 1fr;
    }
}