.catalog__more .bx-pagination{
	margin-top: 24px;
}

.catalog__more .bx-pagination-container,
.catalog__more .bx-pagination-total-block{
	padding: 8px 0;
}

.bx-pagination-container ul{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
.bx-pagination-container ul li a,
.bx-pagination-container ul li>span{
	border-radius: 6px;
	line-height: 24px;
	padding: 0 8px;
	display: block;
	background-color: #F4E6CB;
	color: #2D3139;
	margin: 0 4px;
	text-decoration: none;
	font-size: 14px;
}

.bx-pagination-container ul li a{
	text-decoration: none;
	border: none;
}

.bx-pagination-container ul li:hover a,
.bx-pagination-container ul li.bx-active span{
	background-color: var(--color-orange);
	color: var(--color-white);
}

.bx-pagination-container ul li.bx-pag-prev{
	margin-right: 16px;
}

.bx-pagination-container ul li.bx-pag-next{
	margin-left: 16px;
}

.bx-pagination-container ul li.bx-pag-prev>span,
.bx-pagination-container ul li.bx-pag-next>span,
.bx-pagination-container ul li.bx-pag-prev a,
.bx-pagination-container ul li.bx-pag-next a{
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	text-decoration: none;
}

.bx-pagination-container ul li.bx-pag-prev>span,
.bx-pagination-container ul li.bx-pag-next>span{
	border-bottom: 1px solid transparent;
}

.bx-pagination-container ul li.bx-pag-prev a,
.bx-pagination-container ul li.bx-pag-next a{
	border-bottom: 1px solid var(--color-orange);
}

.bx-pagination-container ul li.bx-pag-prev a:hover,
.bx-pagination-container ul li.bx-pag-next a:hover{
	border-bottom: 1px solid transparent;
	color: var(--color-orange);
}

.bx-pagination-total-block{
	font-size: 13px;
	font-weight: 500;
	line-height: 24px;
	color: #596173;
	margin-bottom: -40px;
}