.main-slider .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-slider.container {
  position: relative;
  padding-top: 7.6rem;
}
.header-slider .main-slider{
  padding-top: 2.6rem;
}


.main-slider ul li {
  width: 100%;
  height: 360px;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-slider__buttons{
  width: 100%;
}

.main-slider ul li img {
  position: absolute;
  top: 0;
  left: 0;
}

.main-slider ul li a {
  display: block;
  height: 100%;
  border: none;
  position: relative;
}

@media (max-width: 768px) {
  .main-slider.container {
    padding-top: 40px;
  }

  .main-slider ul li {
    height: 242px;
    border-radius: 12px;
  }
}