.main-slider .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-slider.container {
  position: relative;
  padding-top: 7.6rem;
}

.main-slider ul li {
  width: 100%;
  height: 360px;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.main-slider ul li a {
  display: block;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .main-slider.container {
    padding-top: 40px;
  }

  .main-slider ul li {
    height: 242px;
    border-radius: 12px;
  }
}
