.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.impressions-slider.container {
  padding-top: 7.6rem;
}

.impressions-slider.container .swiper-container {
  max-height: 373px;
}

.impressions-slider.container .impressions-slider__wrap {
  position: relative;
}

.impressions-slider__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 12px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--color-black);
}

.impressions-slider__title span {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.impressions-slider__title a.all-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  border-bottom: 1px solid var(--color-orange);
  color: var(--color-black);
  cursor: pointer;
}

.impressions-slider__title a.all-link:hover {
  color: var(--color-orange);
}

.impressions-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  list-style: none;
  max-height: 373px;
}

.impressions-slider .list__item-image {
  max-width: 285px;
  max-height: 285px;
  padding-top: 100%;
  border-radius: 285px;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}


.impressions-slider .list__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
}

.impressions-slider .list__item-title {
  margin-top: 16px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  transition: 0.3s;
}

.impressions-slider a:hover .list__item-title {
  color: var(--color-orange);
}

.impressions-slider .swiper-button-prev,
.impressions-slider .swiper-button-next {
  position: absolute;
  bottom: 215px;
  top: auto;
  width: 38px;
  height: 38px;
  z-index: 10;
  cursor: pointer;
}

.impressions-slider .swiper-button-prev {
  left: -19px;
}

.impressions-slider .swiper-button-next {
  right: -19px;
}

.impressions-slider .impressions-slider__more {
  display: none;
  max-width: 343px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  line-height: 20px;
  font-size: 14px;
  background-color: var(--color-btn);
  border: none;
  height: 40px;
  font-weight: 400;
}

.impressions-slider .impressions-slider__more:hover {
  background-color: var(--color-btn-h);
}

@media (max-width: 1024px) {
  .impressions-slider .swiper-button-prev,
  .impressions-slider .swiper-button-next {
    display: none;
  }
}

@media (max-width: 768px) {
  .impressions-slider .list__item-title,
  .impressions-slider__title span {
    font-size: 20px;
    line-height: 24px;
  }

  .impressions-slider.container {
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
  }

  .impressions-slider__title {
    margin-right: var(--container-gap);
    margin-left: var(--container-gap);
  }

  .impressions-slider__title a.all-link {
    display: none;
  }

  .impressions-slider .impressions-slider__more {
    display: block;
    margin: 16px auto 0 auto;
  }

  .impressions-slider .swiper-slide {
    max-width: 200px;
  }
}

@media (max-width: 420px) {
  .impressions-slider .impressions-slider__more {
    margin: 16px 16px 0 16px;
    max-width: unset;
  }

  .impressions-slider.container .swiper-container {
    padding-left: var(--container-gap);
  }
}
