@font-face {
    font-family: "TT Travels Next";
    font-style: normal;
    font-weight: 600;
    src: url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.woff2) format("woff2"),
    url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.woff) format("woff");
}

.wrapper {
    margin-top: 200px;
}

.flights-widget{
    margin: 0 auto;
    max-width:1200px;
    min-width:360px;
    min-height: 360px;
    border-radius: 16px;
    box-sizing: border-box;

}

.flights-widget__preview{
    width: 100%;
    height: 100%;
    gap:27px;
}
.preview__title img{
    width: 222px;
}
.preview__slogan{
    font-family: TT Travels Next;
    width: 553px;
    color:white;
    text-align: center;
    font-size: 32px;
}
.flights-form{
    margin: 0 auto;
    margin-top: 41px;
    max-width: 1200px;
    min-width: 553px;
    box-sizing: border-box;
    box-sizing: border-box;
}
.flights-form tp-cascoon{
    max-width: calc(var(--container-max-width));
    padding: 0px 0px;
}

.why-naturalist{
    margin: 0 auto;
    max-width:1200px;
    min-width:360px;
    box-sizing: border-box;


}

.d-f{
    display:flex;
}
.j-c{
    justify-content: center;
}
.j-s-b{
    justify-content: space-between;
}
.a-c{
    align-items:center;
}
.f-d-c{
    flex-direction:column;
}
.a-s{
    align-items:start;
}
.f-w{
    flex-wrap:wrap;
}
.popular-places{
    max-width:1200px;
    min-width:360px;
    box-sizing: border-box;
    margin: 0 auto;
}
.popular-places__title{
    width: 100%;
    padding-bottom: 30px;
    border-bottom:1px solid black;
    margin-bottom: 50px;

}
.popular-places__widget-items{
    flex-wrap:wrap;
    width: 100%;
}
.flights-map{
    max-width:1200px;
    min-width:360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 102px;
    box-sizing: border-box;
}
.flights-map tp-cascoon{
    width: 100% !important;
}
@media (min-width: 800px){
    body {
        position: relative;
    }
    .wrapper {
        margin-top: 70px;
    }
    .flights-map,
    .popular-places,
    .flights-widget{
        width: 100%;
    }

}
@media (min-width: 792px){

    #cascoon-autocomplete_1{
        width: 90%;
    }
}
@media (max-width: 767px){
    .popular-places__widget-items{
        justify-content: center;
    }

}

