
@font-face {
    font-family: "TT Travels Next";
    font-style: normal;
    font-weight: 600;
    src: url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.woff2) format("woff2"),
    url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.woff) format("woff"),
    url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.ttf) format("truetype");
}
/*.container{*/
/*    max-width: 109rem;*/
/*    width: 100%;*/
/*}*/
.wrapper-f{
    width: 90%; /* или любое другое значение, например, 80% */
    max-width: 93rem; /* Максимальная ширина для больших экранов */
    margin: 0 auto;

}
.preloader{
    background: #dbaa81;
}
.wrapper {
    margin-top: 60px;
}

.flights-widget{
    margin: 0 auto;
    width: 100%;
    min-width:360px;
    min-height: 360px;
    border-radius: 16px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    background: url(/local/templates/main/assets/img/background-widget.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.flights-widget__preview{
    width: 100%;
    height: 100%;
    gap:27px;

}
.preview__title img{
    width: 222px;
}
.preview__slogan{
    color:white;
    text-align: center;
    font-size: 32px;

}
.preview__slogan h1{
    font-family: "TT Travels Next", sans-serif !important;
    font-weight: bold !important;
}
.flights-form{
    margin: 0 auto;
    margin-top: 41px;
    width: 100%;
    box-sizing: border-box;
}
.flights-form tp-cascoon{
    max-width: calc(var(--container-max-width));
    padding: 0px 0px;
}

.why-naturalist{
    margin: 0 auto;
    width: 100%;
    min-width:360px;
    box-sizing: border-box;

}

.d-f{
    display:flex;
}
.j-c{
    justify-content: center;
}
.j-s-b{
    justify-content: space-between;
}
.a-c{
    align-items:center;
}
.f-d-c{
    flex-direction:column;
}
.a-s{
    align-items:start;
}
.f-w{
    flex-wrap:wrap;
}
.popular-places{
    width: 100%;
    min-width:360px;
    box-sizing: border-box;
    margin: 0 auto;
}
.popular-places__title{
    width: 100%;
    padding-bottom: 30px;
    border-bottom:1px solid black;
    margin-bottom: 50px;

}
.popular-places__widget-items{
    flex-wrap:wrap;
    width: 100%;
    gap:76px;
}
.flights-map{
    width: 100%;
    min-width:360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 102px;
    box-sizing: border-box;
}
.flights-map tp-cascoon{
    width: 100% !important;
}

@media (max-width: 1200px){
    .flights-map {
        width: 90%;
    }
    .flights-form tp-cascoon{
        width: 90%;
    }
}
@media (min-width: 800px){
    body {
        position: relative;
    }
    .wrapper {
        margin-top: 70px;
    }
    .flights-map,
    .popular-places,
    .flights-widget{
        width: 100%;
    }

}
@media (min-width: 792px){

    #cascoon-autocomplete_1{
        width: 90%;
    }
}
@media (max-width: 1078px){
    .popular-places__widget-items{
        justify-content: center;
        gap: 76px;
    }

}

@media (max-width: 600px){
    .flights-widget {
        background: url(/local/templates/main/assets/img/banner-mobile.png);
        background-size: cover; /* Измените на contain, если нужно */
        background-position: center; /* Центрируем изображение */
        background-repeat: no-repeat; /* Не повторять изображение */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 20px;
    }
}

@media (max-width: 400px){
    .flights-widget {
        margin: 0 auto;
        width: 100%;
        min-width: 70px;
        min-height: 260px;
        border-radius: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 20px;
        max-width: 358px;
        background: url(/local/templates/main/assets/img/banner-mobile.png);
        background-size: cover; /* Измените на contain, если нужно */
        background-position: center; /* Центрируем изображение */
        background-repeat: no-repeat; /* Не повторять изображение */
    }
}

img[src='https://www.travelpayouts.com/powered_by/img/as.png']{
    display:none;
}

