
@font-face {
    font-family: "TT Travels Next";
    font-style: normal;
    font-weight: 600;
    src: url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.woff2) format("woff2"),
    url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.woff) format("woff"),
    url(../../../../../templates/main/assets/fonts/TTTravelsNext-Regular.ttf) format("truetype");
}
/*.container{*/
/*    max-width: 109rem;*/
/*    width: 100%;*/
/*}*/

.gg .container, .tt .container, .why-naturalist .container{
    padding:unset;
}
/*.wrapper{*/
/*    margin-top: 45px;*/
/*}*/
.wrapper-f{
    width: calc(100% - 40px); /* 40px - это общие отступы (20px слева и 20px справа) */
    max-width: 1200px; /* Максимальная ширина 1200px */
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;

}
.preloader{
    background: #dbaa81;
}

.flights-widget{
    padding-top: 46px;
    margin: 0 auto;
    width: 100%;
    min-height: 360px;
    border-radius: 16px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    /*background: url(/local/templates/main/assets/img/background-widget.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

}

.flights-widget__preview{
    width: 100%;
    height: 100%;
    gap:27px;

}
.preview__title img{
    width: 222px;
}
.preview__slogan{
    color:white;
    text-align: center;
    font-size: 32px;

}
.preview__slogan h1{
    font-family: "TT Travels Next", sans-serif !important;
    font-weight: bold !important;
}
.flights-form{
    margin: 0 auto;
    margin-top: 41px;
    width: 100%;
    box-sizing: border-box;
}
.flights-form tp-cascoon{
    max-width: calc(var(--container-max-width));
    padding: 0px 0px;
}

.why-naturalist{
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

}

.d-f{
    display:flex;
}
.j-c{
    justify-content: center;
}
.j-s-b{
    justify-content: space-between;
}
.a-c{
    align-items:center;
}
.f-d-c{
    flex-direction:column;
}
.a-s{
    align-items:start;
}
.f-w{
    flex-wrap:wrap;
}
.popular-places{
    width: 100%;

    box-sizing: border-box;
    margin: 0 auto;
}
.popular-places__title{
    width: 100%;
    padding-bottom: 12px;
    border-bottom:1px solid black;
    margin-bottom: 50px;
    font-weight: 700;

}
.popular-places__title h2{
    font-weight:700;
    font-size:
}
.popular-places__widget-items{
    flex-wrap:wrap;
    width: 100%;
    gap:76px;
}
.flights-map{
    width: 100%;

    margin: 0 auto;
    margin-top: 102px;
    box-sizing: border-box;
}
.flights-map tp-cascoon{
    width: 100% !important;
}

.custom-banner{
    margin: 0 auto;
    width: 100%;
    /*background: url(/local/templates/main/assets/img/custom-banner.png) no-repeat, center center;*/
    height: 360px;
    border-radius:16px;
    margin-top: 110px;
    margin-bottom: 56px;
    /*box-shadow: 0px 0px  2px black;*/
    /*padding:60px;*/
}
.custom-banner img{
    border-radius:16px;
    height: 100%;
    width: 100%;
}

.banner-decstop{
    display:block;
}
.banner-mobile{
    display:none;
}

.custom-banner__prev{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    gap:17px;

}
.custom-banner__prev span{
    color:white;
    font-family: "TT Travels Next" !important;
    font-weight: 700;
    font-size:29.91px;
    text-shadow: 1px 1px 1px black;
    max-width:388px;
}
.a-btn{
    text-align:center;

    width: 175px;
    padding-bottom: 19px;
    padding-top:19px;
    border-radius: 46.49px;
    background: #FBEFD5;
    color:#1C2D50;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "TT Travels Next" !important;
    font-size: 10px;


}

@media(min-width: 1268px) and (max-width: 1024){
    .wrapper-f{

    }
}


@media (min-width: 800px){
    body {
        position: relative;
    }
    .flights-map,
    .popular-places,
    .flights-widget{
        width: 100%;
    }

}
@media (max-width: 1200px){
    .flights-map {
        width: 90%;
    }
    .flights-form tp-cascoon{
        width: 90%;
    }
}
@media (max-width: 768px) {
    .popular-places__title h2{
        font-size:20px;
    }
}
@media (min-width: 792px){

    #cascoon-autocomplete_1{
        width: 90%;
    }
}
@media (max-width: 1078px){
    .popular-places__widget-items{
        justify-content: center;
        gap: 40px;
    }

}
@media (max-width: 700px){
    .custom-banner{
        /*background: url(/local/templates/main/assets/img/custom-banner-mobile.png) no-repeat center center;*/
        /*background-size: cover;*/
        /*padding:11px;*/
        height:260px;

    }
    .banner-mobile{
        display:block;
    }
    .banner-decstop{
        display:none;
    }
}

@media (max-width: 600px){
    .flights-widget {
        /*background: url(/local/templates/main/assets/img/banner-mobile.png);*/
        /*background-size: cover;*/
        /*background-position: center;*/
        /*background-repeat: no-repeat;*/
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 20px;
    }
    .preview__slogan h1{
        font-size: 16px;
    }


    .a-btn{
        width: 175px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .custom-banner__prev span{
        font-size: 16px;
        font-weight:700;
        max-width:252px;
        width: 100%;
    }
}

@media (max-width: 400px){

    .flights-widget {
        margin: 0 auto;
        width: 100%;
        min-height: 260px;
        border-radius: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 20px;
        max-width: 358px;
        /*background: url(/local/templates/main/assets/img/banner-mobile.png);*/
        /*background-size: cover; !* Измените на contain, если нужно *!*/
        /*background-position: center; !* Центрируем изображение *!*/
        /*background-repeat: no-repeat; !* Не повторять изображение *!*/
    }
    .popular-places__widget-items{
        justify-content: center;
        gap: 76px;
    }
}

img[src='https://www.travelpayouts.com/powered_by/img/as.png']{
    display:none;
}

@media  (max-width:1243px) {
    .wrapper-f{
        width: calc(100% - 80px);
    }
}

@media(max-width: 1022px){
    .wrapper-f{
        width: calc(100% - 27px);
    }
}

@media  (max-width: 1015px) {
    .wrapper-f{
        width: calc(100% - 32px);
    }
}

/* перебивка стилей */
.impressions-slider .swiper-slide {
    mr20
}

