.cert-buy__form {
  display: grid;
  gap: 90px;
}

.container {
  max-width: calc(1380px + var(--container-gap) * 2);
}

.form__title-block {
  font-family: var(--header-text-font-family);
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  position: relative;
}

.form__dot {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid #696969;
  position: absolute;
  right: 0;
  top: 50px;
}

.form__title {
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
  border-top: 1px solid black;
}

label {
  transition: all 0.25s;
  cursor: pointer;
}

.form__cert label {
  padding: 60px 10px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* label:has(input:checked) {
  border-color: #f18d3f;
  box-shadow: inset 0 0 0 3px #f18d3f;
} */

label.selected {
  border-color: #f18d3f;
  box-shadow: inset 0 0 0 3px #f18d3f;
}

.form__certs {
  margin-top: 90px;
  margin-bottom: -31px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.nominal__custom-cost {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  height: 34px;
}

.nominal__price {
  font-family: var(--header-text-font-family);
  font-size: 36px;
  line-height: 34px;
  letter-spacing: -1pt;
  font-weight: 800;
}

.form__block:has(input:checked) .form__dot {
  background-color: #f18d3f;
  border-color: #f18d3f;
}

.nominal__descr {
  font-family: var(--base-font-family);
  font-weight: 500;
  text-align: center;
  margin: 21px 0 0 0;
  font-size: 18px;
  line-height: 24px;
}

.form__format {
  margin-top: 77px;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.form__format label {
  padding: 49px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
  gap: 34px;
  min-height: 297px;
  position: relative;
}

.format__electro {
  width: 39%;
}

.format__fiz {
  width: 49%;
}

.format__title {
  text-transform: uppercase;
  font-family: var(--header-text-font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -1pt;
  text-align: center;
}

.format__title span {
  font-weight: 400;
}

.format__descr {
  margin-top: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.format__descr span {
  display: block;
  margin-top: 24px;
  text-align: center;
  font-size: 13px;
}

.format__electro label.selected {
  border-color: transparent;
  box-shadow: none;
  background-color: #1b2d50;
}

.format__electro label.selected .format__title {
  color: #e6c48e;
}

.format__electro label.selected svg g > path:first-child {
  fill: #fbeed7;
}

.format__fiz label.selected {
  border-color: transparent;
  box-shadow: none;
  background-color: #e6c48e;
}

.format__fiz label.selected svg g > path:first-child {
  fill: #fbeed7;
}

.form__el-variant {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.design label {
  border: none;
  position: relative;
}

.design label .variant__img-wrap {
  max-width: 325px;
  height: 459px;
  display: flex;
  border: 1.06px solid #000000;
  border-radius: 15px;
  margin-top: 16px;
  overflow: hidden;
}

.design label img {
  transition: all 0.25s;
  width: 100%;
  border-radius: 15px;
}

.design label .el-variant__title {
  transition: all 0.25s;
  font-size: 11px;
  line-height: 15px;
  font-weight: 500;
  border-radius: 50px;
}

.design label.selected {
  border-color: transparent;
  box-shadow: none;
}

.design label.selected .el-variant__title {
  background-color: #f18d3f;
}

.design label.selected img {
  border-color: #f18d3f;
}

.congrats__content,
.user-data__content {
  max-width: 678px;
  margin: 0 auto;
}

.congrats__content textarea {
  width: 100%;
  height: 219px;
  margin-top: 12px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.congrats__content textarea::placeholder {
  color: #696969;
}

.form__congrats,
.form__user-data,
.form__comment {
  margin-top: 88px;
}

.congrats__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.congrats__footnote {
  margin: 12px 0 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.user-data__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.user-data__block input {
  display: block;
  width: 100%;
  margin: 12px 0 0 0;
  padding: 18px 9px;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  background-color: transparent;
}

.user-data__block input::placeholder {
  color: #696969;
}

.user-data__content label:has(input:checked) {
  box-shadow: none;
  border-color: transparent;
}

.city,
.delivery {
  margin-top: 24px;
}

.user-data__block-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.user-data__inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  align-items: flex-start;
}

.user-data__inputs .checkbox span {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.payment__content label:has(input:checked) {
  box-shadow: none;
  border-color: transparent;
}

.payment__content,
.summ__content {
  max-width: 678px;
  margin: 88px auto 0 auto;
}

.form__submit {
  font-family: var(--header-text-font-family);
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 5pt;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 83px;
  font-weight: 600;
  background-color: #f18e3c;
  border: none;
  margin-top: 32px;
  color: white;
}

.cert-buy .form__footnote {
  margin-top: 56px;
}

.payment__note {
  margin-top: 24px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.cert-buy .field .checkbox span {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
}

.cert-buy .checkbox input {
  visibility: visible;
  height: auto;
}

.user-data__block.electro {
  margin-top: 48px;
  display: none !important;
}

.user-data__title.electro {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.nominal__custom-cost::-webkit-outer-spin-button,
.nominal__custom-cost::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nominal__custom-cost[type="number"] {
  -moz-appearance: textfield;
}

.user-data__block.fiz .user-data__block {
  margin-top: 24px;
}

.summ__content {
  display: grid;
  gap: 24px;
}

.summ__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.summ__text {
  font-family: var(--header-text-font-family);
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
}

.summ__price,
.summ__price--old {
  font-family: var(--header-text-font-family);
  font-size: 28px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: -0.28px;
}

.summ__price--old {
  position: relative;
  display: none;
}

.summ__price--old::before {
  content: "";
  width: 120%;
  height: 3px;
  background-color: var(--color-orange);
  position: absolute;
  left: -10%;
  top: 42%;
}

.summ__item.all {
  padding-top: 24px;
  border-top: 1px solid black;
}

input.visually-hidden {
  top: 0;
  left: 0;
}

.promo__item-wrap {
  margin-top: 52px;
}

.promo__item span {
  font-size: 20px;
  line-height: 30px;
}

.promo__item-input {
  display: none;
  margin-top: 37px;
  position: relative;
}

.promo__item-input input {
  margin-right: 8px;
  max-width: 320px;
  background-color: transparent;
  border: 1.55px solid #000000;
  padding: 14px 45px 14px 15px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 2px;
  width: 100%;
}

.promo__item-input input::placeholder {
  color: #acacac;
  opacity: 1;
}

.promo__item-input input::-ms-input-placeholder {
  color: #acacac;
}

.promo__item-input .promo__button {
  max-width: 350px;
  width: 100%;
  background-color: #f18d3f;
  text-align: center;
  padding: 16px 0;
  font-size: 21px;
  line-height: 28px;
  font-weight: 600;
  height: auto;
  border-radius: 2px;
  border: none;
  font-family: var(--header-text-font-family);
}

.promo__info {
  font-family: var(--base-font-family);
  font-size: 18.5px;
  font-weight: 500;
  line-height: 23.26px;
  max-width: 528px;
  margin-top: 17px;
  display: none;
}

.error .promo__info,
.error .promo__item-input input {
  color: #d71515;
}

.promo__item-wrap.entered .promo__button {
  display: none;
}

.coupon__success-icon {
  position: absolute;
  left: 277px;
  top: calc(50% - 9px);
  display: none;
}

.promo__item-wrap.entered .coupon__success-icon {
  display: block;
}

.coupon__delete {
  background-color: transparent;
  border: none;
  padding: 5px;
  display: none;
  align-items: center;
}

.promo__item-wrap.entered .coupon__delete {
  display: flex;
}

.summ__prices {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
}

@media (max-width: 1023px) {
  .section_crumbs {
    padding-bottom: 1rem;
  }

  .form__certs {
    margin-top: 48px;
    grid-template-columns: 1fr 1fr;
  }

  .cert-buy__form {
    gap: 48px;
  }

  .form__format {
    margin-top: 48px;
    flex-wrap: wrap;
    gap: 48px;
  }

  .format__electro,
  .format__fiz {
    width: 100%;
  }

  .form__format label {
    padding: 30px 0;
    min-height: 264px;
  }

  .format__descr,
  .format__descr span {
    margin-top: 16px;
  }

  .form__el-variant {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 22px;
  }

  .congrats__content,
  .user-data__content {
    width: 100%;
    max-width: 100%;
  }

  .form__congrats,
  .form__user-data,
  .form__comment {
    margin-top: 48px;
  }

  .payment__content {
    margin-top: 48px;
    max-width: 100%;
  }

  .form__submit {
    padding: 15px;
  }
}

@media (max-width: 550px) {
  .section_crumbs {
    padding-bottom: 1rem;
  }

  .form__title-block {
    font-size: 14px;
    line-height: 18px;
  }

  .form__dot {
    top: 27px;
    width: 18px;
    height: 18px;
  }

  .form__certs {
    gap: 42px;
  }

  .form__certs {
    margin: 42px 0 0px;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .form__cert label {
    padding: 49px 10px;
  }

  .nominal__descr {
    margin-top: 15px;
    font-size: 11px;
    line-height: 15px;
  }

  /*.nominal__descr br {
    display: none;
  }*/
  .form__format {
    gap: 36px;
  }

  .form__format label {
    padding: 28px 10px;
    min-height: 224px;
    gap: 16px;
  }

  .format__title {
    font-size: 15.57px;
    font-weight: 600;
    line-height: 18.9px;
    letter-spacing: -0.01em;
  }

  .format__title span {
    font-size: 15px;
  }

  .format__descr {
    font-size: 11px;
    line-height: 15px;
  }

  .format__descr br {
    display: none;
  }

  .format__descr span {
    font-size: 7.05px;
    font-weight: 500;
    line-height: 10.31px;
  }

  .form__title {
    padding-right: 30px;
    margin-top: 4px;
    padding-top: 4px;
  }

  .design label .el-variant__title {
    font-size: 13px;
    line-height: 19px;
  }

  .form__el-variant {
    margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  /*.design label img {
    margin-top: 8px;
  }*/

  .checkbox span:before {
    width: 16px !important;
    height: 16px !important;
    top: calc(50% - 9px);
  }

  .payment-item.checkbox span {
    width: 16px !important;
    height: 16px !important;
  }

  .checkbox span {
    padding-left: 26px;
  }

  .payment-item img {
    max-width: 30px !important;
  }

  .checkbox input:checked + span:after {
    width: 8px;
    height: 8px;
    top: calc(50% - 5px);
    left: 4px;
  }

  .design label .variant__img-wrap {
    margin-top: 10px;
  }

  .design label .variant__img-wrap {
    max-width: 343px;
    height: 484px;
  }

  .congrats__content,
  .user-data__content {
    width: 100%;
    max-width: 100%;
  }

  .form__congrats,
  .form__user-data,
  .form__comment {
    margin-top: 48px;
  }

  .congrats__text,
  .congrats__content textarea {
    font-size: 13px;
    line-height: 19px;
  }

  .congrats__footnote {
    font-size: 12px;
    line-height: 15px;
  }

  .user-data__block input {
    padding: 14.5px 9px;
  }

  .user-data__block.electro {
    margin-top: 32px;
  }

  .user-data__title.electro,
  .user-data__block-title {
    font-size: 15px;
    line-height: 21px;
  }

  .user-data__title.electro br {
    display: none;
  }

  .user-data__inputs .checkbox span {
    font-size: 13px;
    line-height: 19px;
  }

  .payment__content {
    margin-top: 48px;
    max-width: 100%;
  }

  .form__submit {
    padding: 15px;
  }

  .payment-item p,
  .cert-buy .field .checkbox span {
    font-size: 13px;
    line-height: 14px;
  }

  .form__submit {
    margin-top: 24px;
    font-size: 21px;
    line-height: 21px;
    padding: 13.5px;
  }

  .payment__note {
    font-size: 13px;
    line-height: 19px;
  }

  .cert-buy .form__footnote {
    margin-top: 48px;
  }

  .nominal__price {
    font-size: 30px;
  }

  .summ__content {
    margin-top: 48px;
  }

  .summ__text {
    font-size: 13px;
    line-height: 14px;
    /*max-width: 150px;*/
  }

  .summ__content {
    gap: 16px;
  }

  .summ__item.all {
    padding-top: 16px;
  }

  .summ__price {
    font-size: 13px;
    line-height: 14px;
  }

  .split-badge {
    max-width: 270px;
  }

  .promo__item-wrap {
    margin-top: 32px;
  }

  .promo__item span {
    font-size: 13px;
    line-height: 19px;
  }

  .promo__item-input {
    display: flex;
    margin-top: 18px;
  }

  .promo__item-input input {
    margin-right: 4px;
    max-width: 160px;
    background-color: transparent;
    border: 1.55px solid #000000;
    padding: 6.5px 7.5px;
    font-size: 10px;
    line-height: 15px;
  }

  .promo__item-input input::placeholder {
    color: #acacac;
    opacity: 1;
  }

  .promo__item-input input::-ms-input-placeholder {
    color: #acacac;
  }

  .promo__item-input .promo__button {
    background-color: #f18d3f;
    padding: 7.5px 0;
    font-size: 10px;
    line-height: 21px;
  }

  .promo__info {
    font-size: 9px;
    line-height: 11.5px;
    max-width: 260px;
    margin-top: 12px;
  }

  .coupon__success-icon {
    width: 9px;
    height: 9px;
    top: calc(50% - 4px);
    left: 140px;
  }
}
