.cert-buy__form {
  display: grid;
  gap: 88px;
}

.form__title-block {
  font-family: "TT Travels Next";
  font-size: 28px;
  letter-spacing: -1pt;
  line-height: 34px;
  font-weight: 600;
  position: relative;
}

.form__dot {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid #696969;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.form__number {
}

.form__title {
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
  border-top: 1px solid black;
}

label {
  transition: all 0.25s;
  cursor: pointer;
}

.form__cert label {
  padding: 62px 10px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

label:has(input:checked) {
  border-color: #f18d3f;
  box-shadow: inset 0 0 0 3px #f18d3f;
}

.form__certs {
  margin-top: 88px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.nominal__custom-cost {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  height: 34px;
}

.nominal__price {
  font-family: "TT Travels Next";
  font-size: 36px;
  line-height: 34px;
  letter-spacing: -1pt;
  font-weight: 800;
}

.form__block:has(input:checked) .form__dot {
  background-color: #f18d3f;
  border-color: #f18d3f;
}

.nominal__descr {
  font-weight: 500;
  text-align: center;
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 24px;
}

.form__format {
  margin-top: 88px;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.form__format label {
  padding: 49px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
  gap: 34px;
  min-height: 301px;
}

.format__electro {
  width: 38%;
}

.format__fiz {
  width: 49%;
}

.format__title {
  text-transform: uppercase;
  font-family: "TT Travels Next";
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -1pt;
  text-align: center;
}

.format__title span {
  font-weight: 400;
}

.format__descr {
  margin-top: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.format__descr span {
  display: block;
  margin-top: 24px;
  text-align: center;
  font-size: 13px;
}

.format__electro label:has(input:checked) {
  border-color: transparent;
  box-shadow: none;
  background-color: #1b2d50;
}

.format__electro label:has(input:checked) .format__title {
  color: #e6c48e;
}

.format__electro label:has(input:checked) svg g > path:first-child {
  fill: #fbeed7;
}

.format__fiz label:has(input:checked) {
  border-color: transparent;
  box-shadow: none;
  background-color: #e6c48e;
}

.format__fiz label:has(input:checked) svg g > path:first-child {
  fill: #fbeed7;
}

.form__el-variant {
  margin-top: 88px;
  display: flex;
  gap: 20px;
}

.design label {
  border: none;
}

.design label img {
  transition: all 0.25s;
  border: 4px solid transparent;
  border-radius: 15px;
  margin-top: 16px;
}

.design label .el-variant__title {
  transition: all 0.25s;
  padding: 0 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 50px;
}

.design label:has(input:checked) {
  border-color: transparent;
  box-shadow: none;
}

.design label:has(input:checked) .el-variant__title {
  background-color: #f18d3f;
}

.design label:has(input:checked) img {
  border-color: #f18d3f;
}

.congrats__content,
.user-data__content {
  max-width: 678px;
  margin: 0 auto;
}

.congrats__content textarea {
  width: 100%;
  height: 219px;
  margin-top: 12px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.congrats__content textarea::placeholder {
  color: #696969;
}

.form__congrats,
.form__user-data,
.form__comment {
  margin-top: 88px;
}

.congrats__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.congrats__footnote {
  margin: 12px 0 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.user-data__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.user-data__block input {
  display: block;
  width: 100%;
  margin: 12px 0 0 0;
  padding: 18px 9px;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  background-color: transparent;
}

.user-data__block input::placeholder {
  color: #696969;
}

.user-data__content label:has(input:checked) {
  box-shadow: none;
  border-color: transparent;
}

.city,
.delivery {
  margin-top: 24px;
}

.user-data__block-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.user-data__inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  align-items: flex-start;
}

.user-data__inputs .checkbox span {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.payment__content label:has(input:checked) {
  box-shadow: none;
  border-color: transparent;
}

.payment__content {
  max-width: 678px;
  margin: 88px auto 0 auto;
}

.form__submit {
  font-family: "TT Travels Next";
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 5pt;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 83px;
  font-weight: 600;
  background-color: #f18e3c;
  border: none;
  margin-top: 56px;
  color: white;
}

.cert-buy .form__footnote {
  margin-top: 56px;
}

.payment__note {
  margin-top: 24px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
}

.cert-buy .field .checkbox span {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
}

.cert-buy .checkbox input {
  visibility: visible;
}
