.step-list {
  margin-top: 55px;
}

.step-list .step-item {
  border-bottom: 1px solid #000000;
  font-family: var(--header-text-font-family);
  padding: 13px 0 50px;
  display: flex;
}
.step-list .step-item:first-child {
  border-top: 1px solid #000000;
}
.step-list .step-item-numder,
.step-list .step-item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}
.step-list .step-item-numder {
  margin-right: 35px;
}
.step-list .step-item-description {
  font-family: var(--base-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
}
.form-body {
  margin: 56px 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form-active-sert .form-path {
  display: flex;
  max-width: 703px;
  width: 100%;
  align-items: flex-start;
}
.form-active-sert .form-path:first-child .form-input-wrap {
  margin-right: 26px;
  max-width: 325px;
  width: 100%;
}
.form-active-sert .form-path:first-child .form-input-wrap:first-child input {
  text-align: left;
}
.form-active-sert .form-path:first-child .form-input-wrap:last-child input {
  margin-top: 36px;
}
.form-active-sert .form-path:last-child {
  max-width: 502px;
}
.form-active-sert .form-input-wrap label {
  font-family: var(--base-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}
.form-active-sert .form-input-wrap p {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  margin-top: 12px;
}
.form-active-sert input {
  border: 1px solid #000000;
  line-height: 58px;
  background-color: transparent;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}
.form-input-sertificat {
  display: flex;
  justify-content: space-between;
}
.form-input-sertificat input {
  max-width: 150px;
  margin-right: 26px;
}
.form-input-sertificat input:last-child {
  margin-right: 0;
}
.send-repeat {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 10px;
  text-decoration: underline;
}
.send-repeat:hover {
  text-decoration: none;
}
.form-active-sert .cert__activate {
  max-width: 678px;
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  line-height: 76px;
  letter-spacing: 0.15em;
  background-color: #1b2d50;
  color: #ffffff;
  border: none;
  border-radius: 76px;
  font-family: var(--header-text-font-family);
  margin: 0 auto;
  display: block;
  transition: 0.3s;
}
.form-active-sert .cert__activate:hover {
  background-color: #f18d3f;
  transition: 0.3s;
}
.get-code {
  padding: 19px;
  font-family: "TT Travels Next";
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
  background-color: #e6c48e;
  border: none;
  border-radius: 2px;
}

#cert__popup-wrap .modal__container {
  padding: 0;
  max-width: unset;
  width: 904px;
}

.get-code-wrap {
  align-self: flex-end;
}

@media screen and (max-width: 1440px) {
  .form-active-sert {
    flex-direction: column;
  }
  .form-body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-active-sert .form-path,
  .form-active-sert .form-path:last-child {
    max-width: 700px;
  }
  .form-active-sert .form-path:first-child .form-input-wrap {
    max-width: 340px;
    margin-right: 20px;
  }
  .form-active-sert .form-path:first-child .form-input-wrap:last-child {
    margin-right: 0;
  }
  .form-active-sert .form-path:last-child {
    margin-top: 24px;
  }
  .form-active-sert .form-path:last-child .form-input-wrap {
    width: 100%;
  }
  .form-input-sertificat input {
    max-width: 180px;
  }
  .form-body {
    margin: 56px 0;
  }
  .form-active-sert .cert__activate {
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .step-list .step-item {
    padding: 10px 0 40px;
  }
  .step-list .step-item-numder,
  .step-list .step-item-title {
    font-size: 21px;
    line-height: 21px;
  }
  .step-list .step-item-numder {
    margin-right: 15px;
  }
  .step-list .step-item-description {
    font-size: 13px;
    line-height: 19px;
    margin-top: 10px;
  }
  .step-list {
    margin-top: 17px;
  }
}
@media screen and (max-width: 560px) {
  .form-body {
    margin: 32px 0;
  }
  .form-active-sert .form-path:first-child {
    flex-wrap: wrap;
  }
  .form-active-sert .form-path:first-child .form-input-wrap {
    max-width: 100%;
    margin-right: 0;
  }
  .form-active-sert .form-path:first-child .form-input-wrap:last-child {
    margin-top: 12px;
  }
  .form-active-sert .form-path:first-child .form-input-wrap:last-child input {
    margin-top: 0;
  }
  .form-active-sert .form-input-wrap label {
    font-size: 15px;
    line-height: 21px;
  }
  .form-active-sert .form-path:first-child .form-input-wrap:last-child input {
    text-align: left;
  }
  .form-active-sert .cert__activate {
    line-height: 48px;
    font-size: 21px;
  }
  .form-input-sertificat input {
    margin-right: 9px;
  }
  .step-list {
    margin-top: 26px;
  }
}
.popup-sertification {
  max-width: 904px;
  width: 100%;
  height: 904px;
  background-image: url("img/popup-pattern.png");
  background-color: #fbeed7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 8px 20px 0px #00000026;
}
.popop-sert-text {
  background-color: #fbeed7;
  text-align: center;
  font-family: var(--header-text-font-family);
  max-width: 662px;
  width: 100%;
  max-height: 662px;
  height: auto;
  border-radius: 100%;
  padding: 100px 0;
  color: #1b2d50;
}
.popop-sert-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 62px;
}
.popop-sert-desc {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}
.popop-sert-btn {
  position: relative;
  color: #f18d3f;
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  text-align: center;
  background-color: #1b2d50;
  border-radius: 24px;
  max-width: 363px;
  padding: 11px 0;
  margin: 36px auto;
}
.popop-sert-btn img {
  position: absolute;
  top: -18px;
  right: -18px;
}
.popop-sert-date {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.01em;
}
@media screen and (max-width: 1000px) {
  .popup-sertification {
    max-width: 343px;
    height: 343px;
  }
  .popop-sert-text {
    max-width: 303px;
    max-height: 303px;
    padding: 50px 0;
  }
  .popop-sert-title {
    font-size: 21px;
    font-weight: 800;
    line-height: 26px;
  }
  .popop-sert-desc {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
  }
  .popop-sert-btn {
    position: relative;
    color: #f18d3f;
    font-size: 33px;
    line-height: 52px;
    border-radius: 10px;
    max-width: 206px;
    padding: 0;
    margin: 20px auto;
  }
  .popop-sert-btn img {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 32px;
    height: 32px;
  }
  .popop-sert-date {
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  #cert__popup-wrap .modal__container {
    max-width: 343px;
    height: 343px;
    min-height: unset;
  }
}
