.section_add {
    margin-top: 2.4rem
}

.section_add h1 {
    margin-bottom: 7rem;
    text-align: center
}

.add-object > .h3 {
    line-height: 1;
    text-align: center
}

.add-object .form__item[data-module-reserv-other] {
    display: none;
    opacity: 0
}

.add-object .form__item[data-module-reserv-other].form__item_show {
    -webkit-animation: fadeIn .25s forwards;
    animation: fadeIn .25s forwards;
    display: block
}

.add-object .field__label {
    font-family: TT Travels Next;
    font-family: var(--header-text-font-family);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.9rem;
    margin-bottom: .8rem
}

.add-object .field_icon:before {
    right: 1.5rem
}

.add-object .field_icon .field__input {
    padding-right: 4rem
}

@media (max-width: 1023px) {
    .section_add {
        margin-top: 0
    }

    .section_add h1 {
        margin-bottom: 2rem;
        text-align: left
    }

    .add-object > .h3 {
        margin-bottom: 2.4rem;
        text-align: left
    }

    .add-object .form__controls .button {
        height: 5rem
    }

    .add-object .field__input {
        height: 5.2rem;
        padding: 1.5rem
    }

    .add-object .field textarea.field__input {
        height: 8.8rem
    }

    .add-object .field_icon:before {
        bottom: 2.6rem
    }
}