.order-pdf__line {
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.order-pdf__logo {
  margin-bottom: 13px;
  margin-top: 20px;
  text-align: center;
}

.clear {
  clear: both;
}

.order-pdf__congrats-title {
  font-family: "travels_600";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.order-pdf__block1 {
  margin-top: 150px;
  padding-bottom: 35px;
  min-height: 420px;
}

.order-pdf__congrats {
  font-family: "gogol";
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}

.order-pdf__number {
  font-family: "travels_600";
  font-size: 23px;
  line-height: 24.5px;
  float: left;
}

.info p {
  margin: 0;
}

.info__cert {
  font-family: "travels_500";
  font-size: 16px;
  line-height: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  width: 350px;
}

.info__cert span {
  font-family: "travels_600";
  font-size: 16px;
  line-height: 16px;
}

.info__contacts {
  font-family: "travels_500";
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
}

.info__contacts a {
  color: black;
  text-decoration: none;
}

.info__2 {
  font-family: "travels_500";
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 15px 5px 15px 15px;
  border-left: 1px solid black;
}

.info__1 {
  float: left;
}

.info__2 {
  float: right;
}

.cert__image {
  height: 800px;
}
