@page {
  margin: 0;
}

.order-pdf__logo {
  margin-bottom: 13px;
  text-align: center;
}

.clear {
  clear: both;
  border-bottom: 1px solid black;
}

.order-pdf__congrats-title {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.order-pdf__block1 {
  margin-top: 120px;
  padding-bottom: 35px;
  min-height: 400px;
  padding-left: 30px;
  padding-right: 30px;
}

.order-pdf__congrats {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.order-pdf__number {
  font-size: 23px;
  line-height: 24.5px;
  float: left;
}


.info__cert {
  font-size: 16px;
  padding-bottom: 15px;
  width: 370px;
}

.info__cert span {
  font-size: 16px;
}

.info__contacts {
  font-size: 16px;
  padding-bottom: 11.4px;
}



.info__2 {
  font-size: 10px;
  line-height: 10px;
}

.info__1 {
  float: left;
  padding-left: 30px;
}

.info__2 {
  float: right;
  margin-right: 30px !important;
  padding-right: 15px;
}

.cert__image {
  height: 830px;
}
