
/* фильтры в каталоге */
#form-catalog-filter-front{
    margin-bottom: 1.8rem;
}
#form-catalog-filter-front .form__row,
#form-catalog-filter-front .form__group{
    display: flex;
    gap: 0;
    width: 100%;
}

#form-catalog-filter-front .form__group{
    align-items: center;
    justify-content: flex-start;
}

#form-catalog-filter-front .form__group .field__input{
    border-color: var(--color-beige);
}

#form-catalog-filter-front .form__group > div{
    /*width: fit-content;*/
}

#form-catalog-filter-front .form__group > .calendar{
    width:40%;
}
#form-catalog-filter-front .form__row > .form__item{
    width: 50%;
}

#form-catalog-filter-front  .filters__controls{
    border: none;
    padding: 0;
}
#form-catalog-filter-front  .guests__dropdown{
    z-index: 10;
    width: auto;
}
@media screen and (max-width: 768px) {

    #form-catalog-filter-front .form__group{
        flex-direction: column;
    }
    #form-catalog-filter-front .form__group > div{
        width: 100% !important;
    }
}