.impressions-text {
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    font-family: TT Travels Next;
    font-family: var(--header-text-font-family);
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3.4rem;
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
    text-align: center
}

.impressions-text p {
    margin-bottom: 3.4rem
}

.impressions-text p:last-child {
    margin-bottom: 0
}

.list_impressions {
    grid-row-gap: 8.8rem;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin-top: 8.8rem;
    text-align: center
}

.list_impressions > * {
    min-height: 1px;
    min-width: 1px
}

.list_impressions .list__item {
    position: relative
}

.list_impressions .list__item:nth-child(4n+1) .list__item-image:before {
    display: none
}

.list_impressions .list__item:before {
    background-color: #000;
    background-color: var(--color-black);
    bottom: 0;
    content: "";
    display: block;
    height: .1rem;
    left: 2rem;
    position: absolute;
    right: 2rem
}

.list_impressions .list__item-image {
    margin-bottom: 3rem;
    padding: 0 2rem;
    position: relative
}

.list_impressions .list__item-image:before {
    background-color: #000;
    background-color: var(--color-black);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: .1rem
}

.list_impressions .list__item-image div {
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.list_impressions .list__item-image div img {
    display: block
}

.list_impressions .list__item-title {
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    font-family: TT Travels Next;
    font-family: var(--header-text-font-family);
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem
}

.list_impressions .list__link:hover {
    color: #f18d3f;
    color: var(--color-orange)
}

@media (max-width: 1023px) {
    .impressions-text {
        border: none;
        padding: 0;
        text-align: left
    }

    .list_impressions {
        grid-row-gap: 4.8rem;
        grid-template-columns:repeat(2, 1fr);
        margin: 3.2rem -1.2rem 0
    }

    .list_impressions .list__item:before {
        left: 1.2rem;
        right: 1.2rem
    }

    .list_impressions .list__item-image {
        margin: 0 auto 1.6rem;
        max-width: 36.8rem;
        padding: 0 1.2rem
    }

    .list_impressions .list__item-image:before {
        display: none
    }

    .list_impressions .list__item-title {
        margin: 0 1.2rem
    }
}

@media (max-width: 767px) {
    .list_impressions {
        grid-row-gap: 3.2rem;
        grid-template-columns:1fr
    }
}