@charset "UTF-8";
.sidebar-navigation {
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    position: relative
}

.sidebar-navigation.sidebar-navigation_show .list {
    -webkit-animation: fadeIn .25s forwards;
    animation: fadeIn .25s forwards;
    display: block
}

.sidebar-navigation__label {
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    cursor: pointer;
    display: none;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-weight: 700;
    line-height: 1.6rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem
}

.sidebar-navigation__label span {
    background: url(../img/dropdown.svg) no-repeat 100% 50%/1.6rem 1.7rem;
    display: inline-block;
    padding-right: 2.5rem;
    vertical-align: top
}

.sidebar-navigation .list__item {
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black)
}

.sidebar-navigation .list__item_exit {
    border-bottom: none;
    margin-top: 1.6rem
}

.sidebar-navigation .list__link {
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-weight: 500;
    line-height: 2rem;
    padding: 1.5rem 0
}

.sidebar-navigation .list__link:hover {
    color: #696969;
    color: var(--color-dark-grey-2)
}

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.profile > * {
    min-height: 1px;
    min-width: 1px
}

.profile__sidebar {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-right: 6.2rem;
    width: 25.4716%
}

.profile__sidebar .profile-preview + .sidebar-navigation {
    border-top: none
}

.profile__sidebar .button {
    margin-top: 1.6rem;
    width: 100%
}

.profile__article {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.profile__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.2rem;
    position: relative;
    z-index: 4
}

.profile__heading > * {
    min-height: 1px;
    min-width: 1px
}

.profile__heading h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0
}

.profile__heading-controls {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-left: 3.2rem
}

.profile__heading-controls .form_search {
    margin-top: -.7rem;
    width: 23rem
}

.profile__heading-controls .form_search .field__input {
    border-radius: 1.7rem;
    height: 3.4rem;
    padding-right: 3.4rem
}

.profile__heading-controls .form_search .field__input:focus, .profile__heading-controls .form_search .field__input:hover {
    border-color: #000;
    border-color: var(--color-black)
}

.profile__heading-controls .form_search .field__input:focus ~ button, .profile__heading-controls .form_search .field__input:hover ~ button {
    color: #f18d3f;
    color: var(--color-orange)
}

.profile__heading-controls .form_search button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: .8rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: color .25s;
    transition: color .25s;
    width: 2rem
}

.profile__heading-controls .form_search button > * {
    min-height: 1px;
    min-width: 1px
}

.profile__heading-controls .form_search button svg {
    -webkit-box-flex: 0;
    fill: currentColor;
    -ms-flex: none;
    flex: none
}

.profile__heading-controls .form_filters {
    grid-column-gap: 1rem;
    grid-template-columns:auto auto;
    margin-top: -1.1rem
}

.profile__heading-controls .form_filters .form__row {
    grid-column-gap: 1rem
}

.profile__heading-controls .form_filters .form__item {
    width: 13rem
}

.profile__heading-controls .form_filters .form__item .button {
    width: 100%
}

.profile__heading-controls .form_filters .guests__label {
    font-size: 1.3rem;
    line-height: 1.8rem
}

.profile__heading-controls .form_filters .guests__label div {
    margin-bottom: 0
}

.profile__heading-controls .form_filters .guests .counter button {
    height: 3.2rem;
    width: 3.2rem
}

.profile__heading-controls .form_filters .guests .counter input {
    font-size: 1.3rem;
    height: 3.2rem;
    width: 5rem
}

.profile__heading-controls .form_filters .guests__guests .guests__item + .guests__item {
    margin-top: 1.6rem
}

.profile__heading-controls .form_filters .guests__guests .counter button:after, .profile__heading-controls .form_filters .guests__guests .counter button:before {
    margin-left: -.6rem;
    width: 1.2rem
}

.profile__heading-controls .form_filters .field__input {
    padding-right: 3rem
}

.profile .sort {
    margin-top: -2rem
}

.profile__content .objects__list {
    grid-template-columns:repeat(3, 1fr)
}

.profile__empty {
    font-family: Lato;
    font-family: var(--header-text-font-family)
}

.profile__empty-title {
    font-weight: 600;
    margin-bottom: 1.6rem;
    text-transform: uppercase
}

.profile__empty-text {
    font-weight: 500
}

.profile__login {
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    margin-top: 6.4rem
}

.profile__login-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.4rem 0
}

.profile__login-item > * {
    min-height: 1px;
    min-width: 1px
}

.profile__login-item div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-weight: 500;
    padding-right: 4rem
}

.profile__login-item .button {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25rem
}

.profile-preview {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.6rem;
    padding-bottom: .7rem;
    padding-top: .7rem
}

.profile-preview > * {
    min-height: 1px;
    min-width: 1px
}

.profile-preview__image {
    border-radius: 50%;
    height: 4.8rem;
    overflow: hidden;
    width: 4.8rem
}

.profile-preview__image img {
    display: block
}

.profile-preview__name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding-left: .8rem
}

.scores-edit__title {
    font-weight: 700;
    margin-bottom: 1.6rem
}

.scores-edit__list {
    grid-row-gap: 1.6rem;
    grid-column-gap: 4.2rem;
    display: grid;
    grid-template-columns:1fr 1fr
}

.scores-edit__list > * {
    min-height: 1px;
    min-width: 1px
}

.scores-edit__item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.scores-edit__item > * {
    min-height: 1px;
    min-width: 1px
}

.scores-edit__label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 1.4rem;
    padding-right: 1.6rem;
    padding-top: .1rem
}

.scores-edit__value {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.scores-edit__value .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-right: -.2rem
}

.scores-edit__value .list > * {
    min-height: 1px;
    min-width: 1px
}

.scores-edit__value .list:not(.list_checked) .list__item:hover span, .scores-edit__value .list:not(.list_checked) .list__item:hover ~ .list__item span {
    width: 100%
}

.scores-edit__value .list__item {
    -webkit-box-flex: 0;
    background: url(../img/star.svg) no-repeat 50% 50%/1.6rem 1.6rem;
    cursor: pointer;
    -ms-flex: none;
    flex: none;
    height: 1.6rem;
    overflow: hidden;
    padding: 0 .2rem;
    width: 2rem
}

.scores-edit__value .list__item span {
    display: block;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    -webkit-transition: width .25s;
    transition: width .25s;
    width: 0
}

.scores-edit__value .list__item span:before {
    background: url(../img/star-active.svg) no-repeat 50% 50%/100% 100%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 1.6rem
}

.scores-edit__value .list__item_active span {
    width: 100%
}

.favorite {
    background: none;
    border: none;
    border-radius: 0;
    display: block;
    padding: 0;
    position: absolute;
    z-index: 2
}

.favorite img {
    display: block;
    width: 1.6rem
}

.area-info {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.area-info > * {
    min-height: 1px;
    min-width: 1px
}

.area-info img {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: .4rem;
    margin-top: .2rem
}

.area-info div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.5rem
}

.area-info div span + span:before {
    content: "•";
    padding: 0 .6rem
}

.tag {
    background-color: #f18d3f;
    background-color: var(--color-orange);
    border-radius: .8rem;
    color: #fff;
    color: var(--color-white);
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .09em;
    line-height: 1.6rem;
    padding-left: .8rem;
    padding-right: .8rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 2
}

.objects__heading {
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    margin-bottom: 4.8rem;
    padding-bottom: .4rem
}

.objects__heading-control {
    background: none;
    border: none;
    border-radius: 0;
    display: none;
    margin-bottom: 0;
    padding: 0 3rem 0 0;
    position: relative
}

.objects__heading-control:after {
    background: url(../img/dropdown.svg) no-repeat 50% 50%/100% 100%;
    content: "";
    display: block;
    height: 1.6rem;
    margin-top: -.8rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    width: 1.6rem
}

.objects__heading .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.objects__heading .list > * {
    min-height: 1px;
    min-width: 1px
}

.objects__heading .list__item_active .list__link {
    font-weight: 700
}

.objects__heading .list__item + .list__item {
    margin-left: 3.2rem
}

.objects__heading .list__link {
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.1rem
}

.objects__heading .list__link:hover {
    color: #696969;
    color: var(--color-dark-grey-2)
}

.objects__list {
    grid-column-gap: 2rem;
    grid-row-gap: 4.8rem;
    display: grid;
    grid-template-columns:repeat(4, 1fr)
}

.objects__list > * {
    min-height: 1px;
    min-width: 1px
}

.objects__more {
    margin-top: 4.6rem;
    text-align: center
}

.objects__more a {
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-weight: 500
}

.object {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.object > * {
    min-height: 1px;
    min-width: 1px
}

.object__images {
    margin-bottom: .8rem;
    position: relative
}

.object__images .swiper-slide {
    padding-bottom: 60%;
    position: relative
}

.object__images .swiper-slide img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.object .favorite {
    right: .8rem;
    top: .9rem;
    width: 35px;
    height: 34px;
    padding: 8px;
    background-color: var(--color-white);
    border-radius: 34px;
    display: flex;
    align-items: center;
}

.object .favorite svg path{
    stroke: var( --color-black)!important;
    fill: var( --color-white)!important;
  }
  
  .object .favorite.active svg path{
    stroke: var( --color-orange)!important;
    fill: var( --color-orange)!important;
  }

.object .tag {
    left: .8rem;
    top: .8rem
}

.object__heading {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-top: .1rem solid #000;
    border-top: .1rem solid var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: auto;
    padding-top: 1.2rem
}

.object__heading > * {
    min-height: 1px;
    min-width: 1px
}

.object__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -.01;
    line-height: 1.9rem;
    min-height: 3.8rem;
    padding-right: 1rem
}

.object__title:hover {
    color: #f18d3f;
    color: var(--color-orange)
}

.object .score {
    margin-top: .2rem
}

.object__marker {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .8rem
}

.object__marker > * {
    min-height: 1px;
    min-width: 1px
}

.object__marker-map a {
    display: inline-block;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    vertical-align: top
}

.object .area-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 1rem
}

.object .area-info div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.object .button {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: 1.5rem;
    width: 100%
}

.object-row {
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2.2rem
}

.object-row > * {
    min-height: 1px;
    min-width: 1px
}

.object-row + .object-row {
    margin-top: 2.2rem
}

.object-row__images {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 17rem;
    position: relative;
    width: 35.7%
}

.object-row__images .slider-gallery {
    height: 100%
}

.object-row__images .slider-gallery img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.object-row .favorite {
    right: 0.8rem;
    top: 0.9rem;
    width: 34px;
    height: 34px;
    padding: 8px;
    background-color: var(--color-white);
    border-radius: 34px;
    display: flex;
    align-items: center;
  }
  
  .object-row .favorite svg path{
    stroke: var( --color-black)!important;
    fill: var( --color-white)!important;
  }
  
  .object-row .favorite.active svg path{
    stroke: var( --color-orange)!important;
    fill: var( --color-orange)!important;
  }

.object-row .tag {
    left: .8rem;
    top: .8rem
}

.object-row__content {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    padding-left: 2rem
}

.object-row__content > * {
    min-height: 1px;
    min-width: 1px
}

.object-row__description {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 2rem
}

.object-row__description > * {
    min-height: 1px;
    min-width: 1px
}

.object-row__description .area-info {
    width: 100%
}

.object-row__headnote {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin-top: -.5rem
}

.object-row__headnote button {
    background: none;
    border: none;
    border-bottom: .1rem solid;
    border-radius: 0;
    display: inline-block;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-left: 4rem;
    margin-top: .3rem;
    padding: 0;
    -webkit-transition: color .25s;
    transition: color .25s;
    vertical-align: top
}

.object-row__headnote button:hover {
    color: #f18d3f;
    color: var(--color-orange)
}

.object-row__heading {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.object-row__heading > * {
    min-height: 1px;
    min-width: 1px
}

.object-row__heading .object-row__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 2.4rem
}

.object-row__heading .score {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.object-row__title {
    display: block;
    margin-bottom: .4rem;
    margin-top: -.6rem
}

.object-row__title:hover {
    color: #f18d3f;
    color: var(--color-orange)
}

.object-row__text span {
    color: #9e9d9c;
    color: var(--color-dark-grey)
}

.object-row__reviews {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: auto;
    margin-top: 1.2rem
}

.object-row__reviews > * {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    min-height: 1px;
    min-width: 1px
}

.object-row__reviews a {
    display: block;
    font-family: Lato;
    font-family: var(--header-text-font-family);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 1.8rem
}

.object-row__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-left: -.8rem;
    margin-top: 2.8rem
}

.object-row__features > * {
    min-height: 1px;
    min-width: 1px
}

.object-row__features span {
    -webkit-box-flex: 0;
    display: block;
    -ms-flex: none;
    flex: none;
    margin: .4rem 0 0 .8rem;
    max-width: calc(100% - .8rem)
}

.object-row__order {
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: none;
    flex: none;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 37.21%
}

.object-row__order > * {
    min-height: 1px;
    min-width: 1px
}

.object-row__order .button {
    margin-top: 3.2rem
}

.object-row__price {
    font-family: Lato;
    font-family: var(--header-text-font-family);
    margin-bottom: auto;
    padding-top: .1rem
}

.object-row__price div {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1
}

.object-row__price span {
    display: block;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: .8rem
}

.object-row_profile .object-row__images {
    height: auto;
    width: 31.645%
}

.object-row_profile img {
    display: block
}

.object-row_profile .object-row__description {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.object-row_profile .object-row__description > * + * {
    margin-top: 1rem
}

.object-row_profile .object-row__price {
    margin-bottom: .8rem;
    margin-top: -.3rem;
    text-align: right
}

.object-row_profile .object-row__order {
    width: 12.5rem
}

.object-row_profile .object-row__order .tag {
    border-radius: 1rem;
    height: 2rem;
    line-height: 2rem;
    position: static;
    text-align: center
}

.object-row_profile .object-row__order .button {
    margin-top: auto
}

.sort {
    border-bottom: .1rem solid #000;
    border-bottom: .1rem solid var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.9rem;
    margin-bottom: 1.6rem;
    padding-bottom: .5rem
}

.sort > * {
    min-height: 1px;
    min-width: 1px
}

.sort > span {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.sort > span + .list {
    margin-left: 1.6rem
}

.sort .list {
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1
}

.sort .list > * {
    min-height: 1px;
    min-width: 1px
}

.sort .list__item + .list__item {
    margin-left: 1.6rem
}

.sort .list__link span:first-child {
    display: none
}

.sort .list span.list__link {
    font-weight: 700
}

.sort .list a.list__link:hover {
    color: #696969;
    color: var(--color-dark-grey-2)
}

.list_upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -1.6rem 0 0 -1.6rem
}

.list_upload > * {
    min-height: 1px;
    min-width: 1px
}

.list_upload .list__item {
    -webkit-box-flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: none;
    flex: none;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
    max-width: 29.5rem;
    padding-right: 2.4rem;
    position: relative;
    width: 100%
}

.list_upload .list__item > * {
    min-height: 1px;
    min-width: 1px
}

.list_upload .list__item-image {
    -webkit-box-flex: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-flex: none;
    flex: none;
    height: 4.8rem;
    width: 7.2rem
}

.list_upload .list__item-content {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    padding-left: .7rem
}

.list_upload .list__item-content > * {
    min-height: 1px;
    min-width: 1px
}

.list_upload .list__item-content div {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.list_upload .list__item-content span {
    color: #9e9d9c;
    color: var(--color-dark-grey);
    margin-bottom: -.3rem
}

.list_upload .list__item-content button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    color: #000;
    color: var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.8rem;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: color .25s;
    transition: color .25s;
    width: 1.8rem
}

.list_upload .list__item-content button > * {
    min-height: 1px;
    min-width: 1px
}

.list_upload .list__item-content button:hover {
    color: #f18d3f;
    color: var(--color-orange)
}

.list_upload .list__item-content button svg {
    -webkit-box-flex: 0;
    fill: currentColor;
    -ms-flex: none;
    flex: none;
    pointer-events: none;
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75)
}

.dropzone-hide {
    height: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0
}

.dropzone {
    border: .1rem dashed #000;
    border: .1rem dashed var(--color-black);
    border-radius: .2rem;
    cursor: pointer;
    padding: 1.8rem;
    position: relative;
    -webkit-transition: border-color .25s;
    transition: border-color .25s
}

.dropzone_load {
    opacity: .2;
    pointer-events: none
}

.dropzone__error {
    background-color: #e63623;
    background-color: var(--color-red);
    color: #fff;
    color: var(--color-white);
    font-size: 1rem;
    line-height: 1.3;
    margin: 1.6rem -1.8rem -1.8rem;
    padding: .8rem;
    text-align: center
}

.dropzone span, .dropzone svg {
    pointer-events: none
}

.dropzone svg {
    fill: #e6c48e;
    fill: var(--color-beige);
    display: block;
    margin: 0 auto;
    -webkit-transition: fill .25s;
    transition: fill .25s
}

.dropzone input {
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0
}

.dropzone__message {
    display: block;
    text-align: center
}

.dropzone__message span {
    color: #9e9d9c;
    color: var(--color-dark-grey);
    display: block;
    margin-top: .8rem
}

.dropzone__message strong {
    color: #1c2d50;
    color: var(--color-deep-blue)
}

.dropzone:hover {
    border-color: #f18d3f;
    border-color: var(--color-orange)
}

.dropzone:hover svg {
    fill: #f18d3f;
    fill: var(--color-orange)
}

@media (min-width: 1024px) {
    .sidebar-navigation .list__item_active .list__link {
        font-weight: 700;
        letter-spacing: -.01em
    }
}

@media (max-width: 1139px) {
    .profile__empty {
        grid-column: 1/3
    }

    .profile__empty-text {
        max-width: 38rem
    }

    .object-row_profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        border-bottom: none;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0
    }

    .object-row_profile + .object-row {
        margin-top: 0
    }

    .object-row_profile .object-row__images {
        width: 100%
    }

    .object-row_profile .object-row__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-flex: 1;
        -ms-flex: auto 1;
        flex: auto 1;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 1.6rem;
        padding-left: 0
    }

    .object-row_profile .object-row__description {
        display: block;
        margin-bottom: 1.6rem;
        padding-right: 0
    }

    .object-row_profile .object-row__description > * + * {
        margin-top: 1.6rem
    }

    .object-row_profile .object-row__headnote {
        margin-top: 0
    }

    .object-row_profile .object-row__text span {
        display: block
    }

    .object-row_profile .object-row__price {
        margin-bottom: 0;
        margin-top: 0;
        text-align: left
    }

    .object-row_profile .object-row__order {
        -webkit-box-flex: 0;
        display: block;
        -ms-flex: none;
        flex: none;
        margin-top: auto;
        position: relative;
        width: 100%
    }

    .object-row_profile .object-row__order .tag {
        display: inline-block;
        margin-top: .8rem;
        padding-left: 2.7rem;
        padding-right: 2.7rem;
        vertical-align: top
    }

    .object-row_profile .object-row__order .button {
        bottom: 0;
        position: absolute;
        right: 0
    }

    .profile__sidebar {
        padding-right: 4.8rem;
        width: 28%
    }

    .profile__content {
        grid-column-gap: 2.4rem;
        grid-row-gap: 3.2rem;
        display: grid;
        grid-template-columns:1fr 1fr
    }

    .profile__content > * {
        min-height: 1px;
        min-width: 1px
    }
}

@media (max-width: 1023px) {
    .sidebar-navigation {
        border: none
    }

    .sidebar-navigation__label {
        display: block
    }

    .sidebar-navigation .list {
        -ms-overflow-style: none;
        background-color: #fbeed7;
        background-color: var(--color-beige-light);
        border-radius: .2rem;
        -webkit-box-shadow: 0 .8rem 2.2rem rgba(0, 0, 0, .15);
        box-shadow: 0 .8rem 2.2rem rgba(0, 0, 0, .15);
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
        display: none;
        left: 0;
        max-height: 19rem;
        opacity: 0;
        overflow-y: auto;
        padding: .5rem 0;
        position: absolute;
        scrollbar-width: none;
        top: 100%;
        width: 100%;
        z-index: 9
    }

    .sidebar-navigation .list::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0
    }

    .sidebar-navigation .list__item {
        border: none
    }

    .sidebar-navigation .list__item_active .list__link {
        background-color: #e6c48e;
        background-color: var(--color-beige)
    }

    .sidebar-navigation .list__item_exit {
        display: none
    }

    .sidebar-navigation .list__link {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .02em;
        padding: 1rem 1.6rem;
        -webkit-transition: background-color .25s;
        transition: background-color .25s
    }

    .sidebar-navigation .list__link:hover {
        background-color: #e6c48e;
        background-color: var(--color-beige);
        color: #000;
        color: var(--color-black)
    }

    .profile {
        display: block
    }

    .profile__sidebar {
        padding-right: 0;
        width: 100%
    }

    .profile__sidebar .button {
        margin-top: 2.4rem;
        max-width: 35.6rem
    }

    .profile__article {
        margin-top: 3.2rem
    }

    .profile__heading {
        display: block;
        margin-bottom: 2rem
    }

    .profile__heading h1 {
        font-size: 2.1rem;
        line-height: 1
    }

    .profile__heading-controls {
        padding-left: 0
    }

    .profile__heading-controls .form_search {
        margin-top: 1.2rem;
        max-width: 35.6rem;
        width: 100%
    }

    .profile .sort {
        margin-top: 0
    }

    .profile__login {
        grid-column-gap: 2.4rem;
        display: grid;
        grid-template-columns:1fr 1fr;
        margin-top: 3.2rem;
        padding-top: 3.2rem
    }

    .profile__login > * {
        min-height: 1px;
        min-width: 1px
    }

    .profile__login-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        border: none;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0
    }

    .profile__login-item div {
        margin-bottom: 1.6rem;
        padding-right: 0
    }

    .profile__login-item .button {
        margin-top: auto;
        width: 100%
    }

    .profile-preview {
        border: none;
        margin-bottom: 2.4rem;
        padding-top: 0
    }

    .objects__heading {
        border-bottom: none;
        display: inline-block;
        line-height: 1;
        margin-bottom: 2.4rem;
        position: relative;
        vertical-align: top
    }

    .objects__heading-control {
        display: block
    }

    .objects__heading .list {
        background-color: #fbeed7;
        background-color: var(--color-beige-light);
        -webkit-box-shadow: 0 .8rem 2.2rem rgba(0, 0, 0, .15);
        box-shadow: 0 .8rem 2.2rem rgba(0, 0, 0, .15);
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
        display: block;
        left: 0;
        min-width: 24rem;
        opacity: 0;
        padding: 2rem 1.8rem;
        position: absolute;
        top: calc(100% - .2rem);
        -webkit-transition: visibility .25s, opacity .25s;
        transition: visibility .25s, opacity .25s;
        visibility: hidden;
        width: 100%;
        z-index: 3
    }

    .objects__heading .list__item_active .list__link {
        color: #f18d3f;
        color: var(--color-orange);
        font-weight: 400;
        pointer-events: none
    }

    .objects__heading .list__item + .list__item {
        margin-left: 0;
        margin-top: 1.2rem
    }

    .objects__heading .list__link {
        font-family: Montserrat;
        font-family: var(--base-font-family)
    }

    .objects__heading_show .objects__heading-control:after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .objects__heading_show .list {
        opacity: 1;
        visibility: visible
    }

    .objects__list {
        grid-column-gap: 2.4rem;
        grid-row-gap: 3.2rem;
        grid-template-columns:1fr 1fr
    }

    .objects__more {
        margin-top: 3.2rem
    }

    .object__images {
        margin-bottom: 1.6rem
    }

    .object__heading {
        padding-top: 1.6rem
    }

    .object__marker {
        margin-top: 1.6rem
    }

    .sort > span {
        display: none
    }

    .sort > span + .list {
        margin-left: 0
    }

    .sort .list__item + .list__item {
        margin-left: 3rem
    }

    .sort .list__link span:first-child {
        display: inline
    }

    .sort .list__link span:first-child + span {
        text-transform: lowercase
    }
}

@media (max-width: 767px) {
    .profile__login {
        border: none;
        display: block;
        padding-top: 0
    }

    .profile__login-item {
        border-top: .1rem solid #000;
        border-top: .1rem solid var(--color-black);
        display: block;
        padding-top: 3.2rem
    }

    .profile__login-item + .profile__login-item {
        margin-top: 3.2rem
    }

    .objects__heading-control {
        font-size: 1.5rem;
        padding-right: 2.4rem
    }

    .objects__list {
        grid-row-gap: 4rem;
        grid-template-columns:1fr
    }

    .object .favorite {
        right: 1.6rem;
        top: 1.7rem
    }

    .object .tag {
        left: 1.6rem;
        top: 1.6rem
    }

    .object__title {
        min-height: auto
    }

    .object-row:not(.object-row_profile) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        border-bottom: none;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0
    }

    .object-row:not(.object-row_profile) + .object-row {
        margin-top: 0
    }

    .object-row:not(.object-row_profile) .object-row__images {
        height: auto;
        width: 100%
    }

    .object-row:not(.object-row_profile) .object-row__images .slider-gallery {
        height: auto
    }

    .object-row:not(.object-row_profile) .object-row__images .slider-gallery .swiper-slide {
        padding-bottom: 68%;
        position: relative
    }

    .object-row:not(.object-row_profile) .object-row__images .slider-gallery .swiper-slide img {
        left: 0;
        position: absolute;
        top: 0
    }

    .object-row:not(.object-row_profile) .object-row__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-flex: 1;
        border-top: .1rem solid #000;
        border-top: .1rem solid var(--color-black);
        -ms-flex: auto 1;
        flex: auto 1;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 1.6rem;
        padding-left: 0;
        padding-top: 1.6rem
    }

    .object-row:not(.object-row_profile) .object-row__description {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 1.6rem;
        padding-right: 0
    }

    .object-row:not(.object-row_profile) .object-row__description > * + * {
        margin-top: 1.6rem
    }

    .object-row:not(.object-row_profile) .object-row__title {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-top: 0;
        order: 1;
        padding-right: 1.6rem
    }

    .object-row:not(.object-row_profile) .area-info {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3
    }

    .object-row:not(.object-row_profile) .object-row__reviews {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        margin-top: 0;
        order: 2
    }

    .object-row:not(.object-row_profile) .object-row__features {
        display: none
    }

    .object-row:not(.object-row_profile) .object-row__order {
        -webkit-box-flex: 0;
        display: block;
        -ms-flex: none;
        flex: none;
        margin-top: auto;
        position: relative;
        width: 100%
    }

    .object-row:not(.object-row_profile) .object-row__order div {
        font-size: 1.5rem
    }

    .object-row:not(.object-row_profile) .object-row__order span {
        font-size: 1.2rem;
        margin-top: 0
    }

    .object-row:not(.object-row_profile) .object-row__order .button {
        margin-top: 1.6rem;
        width: 100%
    }

    .object-row .favorite {
        right: 1.6rem;
        top: 1.7rem
    }

    .object-row .tag {
        left: 1.6rem;
        top: 1.6rem
    }

    .object-row_profile .object-row__title {
        font-size: 2.1rem;
        line-height: 1
    }

    .list_upload {
        display: block;
        margin: 0
    }

    .list_upload .list__item {
        margin-left: 0;
        margin-top: 0;
        max-width: none
    }
}

@media (max-width: 599px) {
    .profile__empty {
        grid-column: 1/2
    }

    .object-row_profile + .object-row {
        border-top: .1rem solid #000;
        border-top: .1rem solid var(--color-black);
        padding-top: 3.2rem
    }

    .profile__content {
        grid-template-columns:1fr
    }
}